<p id="notice"><%= notice %></p>

<h1>Listing Ssses</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ssses.each do |sss| %>
      <tr>
        <td><%= sss.question %></td>
        <td><%= sss.answer %></td>
        <td><%= link_to 'Show', sss %></td>
        <td><%= link_to 'Edit', edit_sss_path(sss) %></td>
        <td><%= link_to 'Destroy', sss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sss', new_sss_path %>
