<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @sss.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @sss.answer %>
</p>

<%= link_to 'Edit', edit_sss_path(@sss) %> |
<%= link_to 'Back', ssses_path %>
