<%= form_for(@sss_category) do |f| %>
  <% if @sss_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sss_category.errors.count, "error") %> prohibited this sss_category from being saved:</h2>

      <ul>
      <% @sss_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sss_id %><br>
    <%= f.number_field :sss_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
