<p id="notice"><%= notice %></p>

<p>
  <strong>Sss:</strong>
  <%= @sss_category.sss_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sss_category.category_id %>
</p>

<%= link_to 'Edit', edit_sss_category_path(@sss_category) %> |
<%= link_to 'Back', sss_categories_path %>
