<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Filter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"%>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
 <ng-view></ng-view>
</body>
</html>
